{% extends 'dashboard.html' %} 
{% load static %} 
{% block content %}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h2 class="mt-4">Quản lý khách hàng</h2>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
      </ol>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Dữ liệu khách hàng
        </div>
          <section>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">ID</th>
                  <th scope="col" style="text-align: center;">Họ tên khách hàng</th>
                  <th scope="col" style="text-align: center;">Số điện thoại</th>
                  <th scope="col" style="text-align: center;">Email</th>
                  <th scope="col" style="text-align: center;">Địa chỉ</th>
                  <th scope="col" style="text-align: center;">Điểm đi</th>
                  <th scope="col" style="text-align: center;">Điểm đến</th>
                  <th scope="col" style="text-align: center;">Ngày đi</th>
                </tr>
              </thead>
              <tbody>
                {% for car in cars %}
                <tr>
                  <td>{{ car.id }}</td>
                  <td>{{ car.name }}</td>
                  <td>{{ car.phone }}</td>
                  <td>{{ car.email }}</td>
                  <td>{{ car.address }}</td>
                  <td>{{ car.diemdi }}</td>
                  <td>{{ car.diemden }}</td>
                  <td>{{ car.date }}</td>
                  <td><a href="updatecar/{{ car.id }}">Edit</a></td>
                  <td><a href="deletecar/{{ car.id }}">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div style="padding-bottom: 10px; padding-left: 10px;">
              <a class="btn btn-primary" href="addcar">Add New Car</a>
            </div>
          </section> 
      </div>
    </div>
  </main>
  <footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
      <div
        class="d-flex align-items-center justify-content-between small"
      >
        <div class="text-muted">Copyright &copy; Your Website 2022</div>
        <div>
          <a href="#">Privacy Policy</a>
          &middot;
          <a href="#">Terms &amp; Conditions</a>
        </div>
      </div>
    </div>
  </footer>
</div>
{% endblock %}